@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
}


html{
    background-color: #346566;
    font-family: 'Inter', sans-serif;
    min-width: 350px;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header{
    background-image: linear-gradient(180deg,#b0cfa9,#30522A);
}

header div#user{
    display: flex;
    margin: 10px auto;
    width: 95%;
    height: 120px;
    border: 2px dashed #523727;
    background-color: #D7CCB1;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
header div#user-img{
    align-self: center;
    border: 1px solid #523727;
    height: 110px;
    min-width: 90px;
    max-width: 90px;
    margin-left: 5px;
    background-color: #a89f88;
}
header div#user-status{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-self: center;
    text-indent: 5px;
    background-color: #a89f88;
    height: 110px;
    width:  100%;
    font-size: 16px;
    margin-right: 5px;
    text-shadow: -1px 1px 0 #000,1px 1px 0 #000,1px -1px 0 #000,-1px -1px 0 #000;
    border: 1px solid #523727;
    border-left-width: 0px;
}
header div#user-status p{
    align-self: center;
    text-align: center;
    width: 20%;
    margin: 0px;
    margin-left: 5px;
    background-color: #523727;
    border-radius: 10px 0px 0px 10px;
    border: 1px dashed black;
    color: #EAD464;
    min-width: 70px;
    min-height: 20px;
}
header div#user-status p.inside{
    border-left-width: 0px;
    text-align: left;
    width: 63%;
    margin: 0px;
    border-radius: 0px 10px 10px 0px;
    background-color: #35292283;
    color: white;
}


nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: #30522A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

nav a {
    color: white;
    text-shadow: -1px 1px 0 #000,1px 1px 0 #000,1px -1px 0 #000,-1px -1px 0 #000;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
}

main{
    flex: 1;
}
main div#mainmenu{
    background-color: #D7CCB1;
    display: block;
    margin: auto;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-top: 0px;
    width: 90%;
    max-width: 500px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

main div.mm{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 7.5px;
    margin-left: 2.5%;
    height: 54px;
    width: 95%;
    background-color: #588250;
    border-style: solid;
    border-color: #1B5311;
    border-radius: 5px;
    border-width: 1px;
    color: #EAD464;
    text-shadow: -1px 1px 0 #000,1px 1px 0 #000,1px -1px 0 #000,-1px -1px 0 #000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

main div.mm-buttons{
    margin: auto;
    padding: 10px 0px;
    height: 25px;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
main p.buttons{
    text-shadow: -1px 1px 0 #000,1px 1px 0 #000,1px -1px 0 #000,-1px -1px 0 #000;
    padding: 5px;
    border-radius: 5px;
    background-color:#30522A;
    border: 1px solid #0f3109;
    text-align: center;
    font-size: 18px;
    min-width: 120px;
}
main p.buttons:hover{
    text-decoration: underline;
}

main div.mm-dia{
    padding-top: 3px;
    height: 22px;
    width: 37.5%;
    min-width: 122px;
    text-indent: 10px;
    align-self: flex-start;

}

main div.mm-ponto-t{
    padding-top: 3px;
    height: 22px;
    width: 37.5%;
    text-align: right;
    align-self: flex-start;
}

main div.mm-ponto-n{
    padding-top: 3px;
    height: 22px;
    width: 10%;
    text-align: left;
    align-self: flex-start;
}

main div.mm-garrafa,.mm-gota,.mm-planta{
    display:flex;
    height: 20px;
    margin-bottom: 6px;
    padding: 0px 7.5px;
}

img.icon:hover{
    filter:drop-shadow(0px 0px 3px white);
}

main div#dicas{
    margin: auto;
    width: 90%;
    max-width: 500px;
}

main h1#dicas-title{
    margin-top: 30px;
    margin-bottom: 10px;
    color: #EAD464;
    text-align: center;
    text-shadow: -1px 1px 0 #000,1px 1px 0 #000,1px -1px 0 #000,-1px -1px 0 #000;
    font-size: 20px;
}

main p#dicas-text{
    color: white;
    text-align: justify;
    text-shadow: -1px 1px 0 #000,1px 1px 0 #000,1px -1px 0 #000,-1px -1px 0 #000;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 50px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 30px;
    background-color: #183334;
}

footer p{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.icon{
    min-height: 20px;
    max-height: 20px;
    min-width: 20px;
    max-width: 20px;
}